<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-bar">
        <h1 class="hedding"><a href="/blogs">Blog</a></h1>
        <% if user_signed_in? %>
          <div class="hedding-in-post">
            <%= link_to 'SignOut', destroy_user_session_path, method: :delete %>
            <%= link_to 'New', new_blog_path, class:"post" %>
          </div>
        <% else %>
          <div class="hedding-out-post">
            <%= link_to 'SignUp', new_user_registration_path, class: "post" %>
            <%= link_to 'SignIn', new_user_session_path, class: "post" %>
          </div>
        <% end %>
          
        
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
