<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class = "contents">
  <header>
    <div class = "header">
      <div class = "header-bar">
        <%= link_to 'Blog', root_path: :get, class:"hedding-blog" %>
      </div>
      <% if user_signed_in? %>
      <!--</div>-->
        <div class="hedding-in-post">
          <%= link_to 'SignOut', destroy_user_session_path, method: :delete, class:"hedding-post" %>
          <%= link_to 'New', new_blog_path, class:"hedding-post" %>
        <% else %>
        <div class="header-note">
          <p>※投稿するにはログインが必要です</p>
        </div>
        <div class="hedding-in-post">
          <%= link_to 'SignUp', new_user_registration_path, class: "hedding-post" %>
          <%= link_to 'Log In', new_user_session_path, class: "hedding-post" %>
        </div>
      <% end %>
    </div>
</header>
    <%= yield %>
  </body>
</html>
